@page "/Account/Register"
@model HotelBooking.Web.Pages.Account.RegisterModel

@{
    ViewData["title"] = "Registration";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <h4 class="mb-a">Registration</h4>
        </div>
        <di class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger "></div>

                <div class="row g-2 m-3">
                    <div class="col">
                        <label asp-for="Input.FirstName" class="form-label">Name</label>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="Ivan"/>
                        <span asp-validation-for="Input.FirstName" class="text-danger small"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Input.LastName" class="form-label">Last Name</label>
                        <input asp-for="Input.LastName" class="form-control" placeholder="Ivanov"/>
                        <span asp-validation-for="Input.LastName" class="text-danger small"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">e-mail</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Ivan@example.com"/>
                    <span asp-validation-for="Input.Email" class="text-danger small"></span>
                </div>

                <div class="m-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger small"></span>
                </div>

                <div class="m-4">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
                </div>

                <button type="submit" class="tn btn-primary w-100">Registration</button>
            </form>
            <hr/>
            <p class="text-xl-center mb-0">
                Already have an account? <a asp-page="/Account/Login">Log In</a>
            </p>
        </di>
    </div>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"/>
}
